html, body {
    min-width: 350px;
    min-height: 240px;
    margin: 0;
    padding: 0;
}
h1{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.center{
    margin: 0 auto;
    text-align: center;
}
button {
    max-width: 250px;
    width: 100%;
    padding: 10px;
    background: #004D40;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    cursor: pointer;
    outline: 0;
}

button:hover, button:disabled {
    background: #6f7776;
}

button:disabled::before {
    content: '🚫';
}

button.stop {
    color: #e63c39;
    font-weight: bold;
    display: block;
    padding: 5px 20px;
    margin-top: 5px;
    background: #ffffff;
    font-size: 12px;
    width: auto;
}
button.stop:hover {
    background: #f9e7e7;
}

.selectedGroupWrapper{
    /* background: #ddf3dd; */
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin: 5px 0;
}
p#selectedGroup{
    font-size: 14px;
    font-weight: 700;
}
.container {
    padding: 8px;
}
.greenBlock {
    background: #1D9C5B;
    color: white;
    font-size: 14px;
}
fieldset {
    border: 1px solid #aec5af;
    border-radius: 5px;
}
fieldset legend {
    text-align: center;
    color: #1D9C5B;
    font-weight: bold;
}
select {
    max-width: 250px;
    display: block;
    margin: 10px auto;
    height: 30px;
    width: 100%;
    font-weight: 600;
    outline: 0;
}
img.gear-icon {
    top: 15px;
    right: 15px;
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
img.gear-icon:hover {
    opacity: 0.9;
}
.hidden {
    display: none!important;
}
.tab-group {
    display: table;
    margin: 0 auto;
    background: #E8F5E9;
    padding: 3px;
    border-radius: 4px;
    margin-top: 8px;
}
button.tab {
    background: none;
    color: black;
    width: auto;
    display: inline-block;
    margin: 1px;
    font-size: 11px;
    padding: 5px 10px;
}
button.tab.active {
    background: #dadedc82;
    color: #279B5D;
    font-weight: bold;
}

/* About page */
.about p {
    max-width: 80%;
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 20px;
}

.page2 ol li {
    margin-top: 10px;
    font-size: 14px;
}

/* href tags */

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black;
    border-bottom: 2px solid #279B5D;
    box-shadow: inset 0px -6px 0px 0px #279b5d3b;
}